.page-choix-personnage {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-choix-personnage h1 {
    font-size: 3rem;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.personnages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.personnage {
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: #333;
}

.personnage img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.personnage h2 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.personnage:hover img {
    transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
.page-choix-personnage {
        padding: 10px;
    }
        
        .personnage img {
            width: 100px;
        }
}